body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#searchBar {
    padding: 10px;
    width: 60%;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#wordOfTheDay, #termList {
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#termsContainer {
    list-style-type: none;
    padding: 0;
}

#termsContainer li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
